.social-icon {
  margin: 0.4em;
  &:hover {
    color: #13967c;
  }
}

.footer {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  text-align: center;
  &__title {
    color: gray;
    font-weight: bold;
    margin-bottom: 0.3em;
  }
}
