.intro-text {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #b2b2b2;
  font-weight: bold;
  font-size: 2em;
}


.layout-item-container {
  display: flex;
  background: #f4f4f4;
  flex-direction: row;
  border: #c9c9c9 3px solid;
  justify-content: flex-start;
  align-items: stretch;
  transition: border 0.4s, background 0.2s;
  flex-wrap: nowrap;
  flex-grow: 1;

  &:hover {
    cursor: default;
    border: #5f6370 3px solid;
  }

  &--selected {
    background: #dcf3ed;
    border-style: dashed;

    &:hover {
      background: #dcf3ed;
      border-style: dashed;
    }
  }
}

.layout-item {
  display: flex;
  padding: 1em;
  margin: 1px;
  &--hover {
    background: #dcf3ed;
  }
  &:hover {
    cursor: pointer;
  }
}

.item-number {
  margin: 0.5em;
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: gray;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
